In [2]:
import pandas as pd

In [11]:
df = pd.read_csv('data/MPandYOLO.csv')
df.drop('col9', inplace=True, axis=1)

In [12]:
df

       col1  col2  col3  col4  col5  col6  col7  col8      col10
0      1026   463   212   203     0     0     0     0       none
1       694   514   215   162     0     0     0     0       none
2      1109   584   170   146     0     0     0     0       none
3      1325   422   133   148     0     0     0     0       none
4       849   513   120   193     0     0     0     0       none
...     ...   ...   ...   ...   ...   ...   ...   ...        ...
14212  1200   449   246   290  1542   478   161   132  precision
14213  1092   245   239   113  1302   457   135   313  precision
14214  1155   345   214   207  1400   385    59   285  precision
14215   610   658   300   234  1372   488    46   249  precision
14216   508   382   145    89   764   577   185   230  precision

[14217 rows x 9 columns]

In [13]:
dfnone = df[df.col10=='none']
dfpower = df[df.col10=='power']
dfprec = df[df.col10=='precision']

In [22]:
res = 1-dfpower[dfpower.col5==0].shape[0]/dfpower.shape[0]
print(f'Percentage of "power" images which have an object detection {res*100}')

Percentage of "power" images which have an object detection 43.43327702702703

In [23]:
res = 1-dfprec[dfprec.col5==0].shape[0]/dfprec.shape[0]
print(f'Percentage of "precision" images which have an object detection {res*100}')

Percentage of "precision" images which have an object detection 72.85296981499513

In [25]:
res = 1-dfnone[dfnone.col5==0].shape[0]/dfnone.shape[0]
print(f'Percentage of "none" images which have an object detection {res*100}')

Percentage of "none" images which have an object detection 6.948918545789229